* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #e3e6e6;
}

/* ============ NAVBAR ============ */

.navbar {
  background: #131921;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px;
  color: white;
}

.nav-logo img {
  width: 100px;
}

.nav-location, .nav-account, .nav-orders {
  cursor: pointer;
}

.small {
  font-size: 12px;
  color: #ccc;
}

.bold {
  font-weight: bold;
}

.nav-search {
  display: flex;
  width: 40%;
}

.all{
  width: 60px;
  background-color: rgb(250, 249, 249);
  display: flex;
}

.nav-search select {
  padding: 8px;
}

.nav-search input {
  flex: 1;
  padding: 8px;
  border: none;
}

.nav-search button {
  padding: 8px 15px;
  background: #febd69;
  border: none;
  cursor: pointer;
}

.nav-cart {
  font-size: 16px;
}

/* ===== Panel ===== */

.panel {
  background: #232f3e;
  padding: 7px;
  display: flex;
  gap: 20px;
  color: white;
}

/* ============ HERO ============ */

.hero img {
  width: 100%;
  height: auto;
}

/* ============ PRODUCTS ============ */

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.product-card p {
  color: #007185;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

/* ============ FOOTER ============ */

.footer-top {
  background: #37475a;
  color: white;
  text-align: center;
  padding: 12px;
  cursor: pointer;
}

.footer-links {
  background: #232f3e;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 30px;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin: 8px 0;
  cursor: pointer;
}

.footer-bottom {
  background: #131921;
  color: white;
  text-align: center;
  padding: 15px;
}

.footer-bottom img {
  width: 90px;
  margin-bottom: 10px;
}

/* ============ RESPONSIVE ============ */

@media(max-width: 768px) {
  .nav-search {
    display: none;
  }

  .panel {
    flex-wrap: wrap;
  }
}

.signin-area {
      cursor: pointer;
      position: relative;
    }

    .signin-area span {
      font-size: 12px;
      color: #ccc;
    }

    .signin-area b {
      font-size: 14px;
      color: #fff;
    }

    /* DROPDOWN */
    .dropdown {
      display: none;
      position: absolute;
      top: 50px;
      right: 0;
      width: 360px;
      background: white;
      border-radius: 4px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.25);
      z-index: 100;
    }

    .dropdown.active {
      display: block;
    }

    .dropdown-header {
      padding: 15px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

    .dropdown-header button {
      background: #ffd814;
      border: 1px solid #fcd200;
      padding: 8px 0;
      width: 90%;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
    }

    .dropdown-header p {
      font-size: 12px;
      margin-top: 8px;
    }

    .dropdown-header a {
      color: #007185;
      text-decoration: none;
    }

    .dropdown-body {
      display: flex;
      padding: 15px;
      gap: 15px;
    }

    .dropdown-body div {
      width: 50%;
    }

    .dropdown-body h4 {
      font-size: 14px;
      margin-bottom: 8px;
    }

    .dropdown-body ul {
      list-style: none;
    }

    .dropdown-body li {
      font-size: 13px;
      margin-bottom: 6px;
      color: #333;
      cursor: pointer;
    }

    .dropdown-body li:hover {
      text-decoration: underline;
      color: #007185;
    }

  .hero img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.products {
  margin-top: -140px;   /* THIS CREATES AMAZON STYLE OVERLAP */
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}



.nav-hover {
  padding: 4px 5px;
  border-radius: 2px;
  transition: 0.2s;
  cursor: pointer;
}

.nav-hover:hover {
  outline: 1px solid white;
}


/* country option */

.nav-country {
  display: flex;
  align-items: center;
  
  padding: 4px 5px;
  color: white;
  cursor: pointer;
}

.nav-hover:hover {
  border: 1px solid white;
  border-radius: 3px;
}

.country-box {
  display: flex;
  flex-direction: column;
  
}

.label {
  font-size: 11px;
  color: #ccc;
}

.country-select {
  background: transparent;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.country-select option {
  color: rgb(2, 2, 2);
}